<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Windows Azure AD tenant domain name -->
    <add key="TenantDomainName" value="msonlinesetup.onmicrosoft.com"/>
    <!-- Service principal credentials -->
    <add key="AppPrincipalId" value="e39a9b9b-2fe6-45b2-88e3-3c59372d8b02"/>
    <add key="AppPrincipalPassword" value="20DAvte1C2RsDLOfNlmFLW34/EiKIVE0oTQwdRaxJDo="/>
    <!-- Polling interval in seconds -->
    <add key="PullIntervalSec" value="60"/>
  </appSettings>
</configuration>
